#wrapper {
	width: 100%;
}

#main {
	padding: 0;
	margin:0;
	width: 320px;
}

#menu, #cover, #logo {
	display: none;
}

#about {
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	z-index: 1001;
}

#projects {
	-webkit-transform: translate(320px, 0);
	-moz-transform: translate(320px, 0);
	-ms-transform: translate(320px, 0);
	-o-transform: translate(320px, 0);
	z-index: 1000;
}

#contact {
	z-index: 999;
	-webkit-transform: translate(640px, 0);
	-moz-transform: translate(640px, 0);
	-ms-transform: translate(640px, 0);
	-o-transform: translate(640px, 0);
}