* {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #00F;
}

a:visited :active {
	color: #00F;
}

body {
	background: url("../images/bg.png");
	color: #FFF;
}

#wrapper {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	
}

#imprint_wrapper {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background: url("../images/card_bg.png");
	border: 7px solid #FFF;
	
	color: #000;
	
	box-shadow: #000 1px 1px 7px;
	padding: 10px;
	margin-top: 50px;
}

#main {
	padding: 100px;
	
	width: 306px;
	height: 466px;
	
	margin-top: 350px;
	margin-left: auto;
	margin-right: auto;
	
	-webkit-perspective: 800;
	-moz-perspective: 800;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
}

.card {
	position: absolute;
	display: block;
	
	width: 306px;
	height: 466px;
	
	background: url("../images/card_bg.png");
	border: 7px solid #FFF;
	
	color: #000;
	
	box-shadow: #000 1px 1px 7px;
	
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

#contact table {
	border: 0;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

#contact tr {
	border: 1px solid #CCC;
}

.card h1 {
	color: #333;
	margin: 10px;
	margin-left: 30px;
}

.card h2 {
	color: #333;
	margin: 10px;
}

.card img {
	margin: 10px;
	float: left;
}

.card p {
	margin: 10px;
	font-size: 1em;
	line-height: 1.5em;
}

#logo {
	float: right;
	margin-right: 50px;
	font-size: 50px;
	text-shadow: #000 1px 1px 5px;
}

#logo .color1 {
	color: #FFF;
	-webkit-mask-image: -webkit-gradient(linear, left 60%,
	    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	font-weight: 700;	
}

#logo .color2 {
	color: #0066FF;
	font-family: "Leckerli One", cursive;
}

#note {
	width: 200px;
	height: 80px;
	
	background: url("../images/card_bg.png");
	border: 7px solid #FFF;
	
	box-shadow: #000 1px 1px 7px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: -80px;

	z-index: 10;
}

#menu {
	float: left;
	margin-left: 60px;
	margin-top: 40px;
}

#menu a {
	text-decoration: none;
	color: #CCC;
	font-size: 1.7em;
	font-weight: 100;
}

#menu a:hover {
	color: #FFF;
	margin-left: 10px;
}

#menu ul {
	list-style: none;
	margin: 0;
}

#cover {
	width: 800px;
	height: 100%;
	margin-top: -490px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	background: url("../images/bg.png");
	border-top: 1px solid #666;
	z-index: 9999999;
	/*box-shadow: #000 -1px -1px 7px;*/
}

#cover a {
	font-size: 1em;
	font-style: italic;
	color: #FFF;
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}
